.App-background {
  background: rgba(100, 100, 100, 0.50);
  width: 1200px;
  overflow: hidden;
}

.App-gamePlay {
  background: rgba(10, 125, 10, 0.75);
  width: 750px;
  float: left;
}

.App-image {
  border-radius: 75px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 300px;
  height: 150px;
}

.App-submit {
  height: 35px;
  font-size: 25px;
  font-family: Georgia, monospace;
  text-align: center;
}

.App-hitOrStand {
  width: 375px;
  height: 140px;
  background: rgba(255, 0, 0, 0.75);
  float: left;
  font-size: 25px;
}

.App-hit {
  width: 100px;
  display: inline-block;
  font-family: Georgia, monospace;
  font-size: 25px;
  text-align: center;
}

.App-divider {
  width: 35px;
  height: auto;
  display: inline-block;
}

.App-stand {
  width: 100px;
  display: inline-block;
  font-family: Georgia, monospace;
  font-size: 25px;
  text-align: center;
}

.App-deck {
  font-size: 25px;
  width: 375px;
  height: 140px;
  background: rgba(0, 220, 220, 0.75);
  float: left;
}

.App-playAgain {
  height: 35px;
  font-size: 25px;
  font-family: Georgia, monospace;
  text-align: center;
}

.App-users {
  text-align: center;
  float:left;
}

[target="black"] {
  width: 50px;
  height: 50px;
  color: rgb(0, 0, 0);
  float: left;
}

[target="red"] {
  width: 50px;
  height: 50px;
  color: rgb(235, 0, 0);
  float: left;
}

li {
  font-size: 25px;
  font-family: Georgia, monospace;
}

p {
  font-family: Georgia, monospace;
  text-align: center;
}

div {
  font-family: Georgia, monospace;
  text-align: center;
}
